<ion-header>
  <ion-toolbar>
    <ion-title>Bar do Joaquim</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/comanda">Comanda</ion-button>
      <ion-button (click)="sair()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="perfil" *ngIf="auth.usuario">
  <img
    *ngIf="auth.usuario.photoURL"
    [src]="auth.usuario.photoURL"
    alt="Foto do perfil">
  <span>
    Olá, 
    <strong>{{ auth.usuario.displayName || auth.usuario.email }}</strong>
  </span>
</div>


  <div *ngFor="let produto of listaprodutos">
    <app-produto-card
    [produto]="produto"
    (selecionado)="onProdutoSelecionado($event)"></app-produto-card>
  </div>

</ion-content>